.login-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #4490c9;

  .cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 45%);
    gap: 100px;
    transition: all 300ms;

    &-close {
      background-color: rgba(0, 0, 0, 75%);
    }

    .logo {
      width: 30%;
      max-width: 300px;
      min-width: 150px;
      cursor: pointer;
    }

    .divider {
      height: 0;
      width: 2px;
      background-color: #ddd;
      margin: 0 10px;
      transition: height 800ms;
    }

    .divider-open {
      height: 200px;
    }

    .panel {
      width: 40%;
      padding: 0 20px;
      box-sizing: border-box;
      max-width: 380px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .input {
      width: 0;
      visibility: hidden;
      transform: translateX(-100px);
      transition: all 800ms;
      background-color: #dbdbdb;

      :global {
        input {
          background-color: #dbdbdb;
        }
      }
    }

    .input-open {
      width: 100%;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 740px) {
  .login-page {
    .cover {
      flex-direction: column;
      transition: all 300ms;
      gap: 0;

      .divider {
        display: none;
      }
    }
  }
}
